*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: font1;
}

@font-face {
    font-family: font1;
    src: url(Quicksand/Quicksand-VariableFont_wght.ttf);
}

.homePage{
    width: 100%;
    height: 4550px;
    background-color: #FF69B3;
}


.navBarHome{
    display: flex;
    margin: auto;
    height: 45px;
    flex-direction: row;
    background-color: #1376FF;
    border-radius: 30px;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}


.navBarHome a{
    transition: all 0.5s;
    text-decoration: none;
    color: white;
}

.navBarHome a:hover{
    padding: 6px;
    transition: all 0.5s;
    border-radius: 12px;
    background-color: #3f85e8;
}

.container_logo{
    width: 25%;
    gap: 8px;
    display: flex;
    flex-direction: row;
}

#nibubus{
    width: 40%;
}

#head{
    width: 20%;
}

.navBarHome img{
    width: 28%;
}

.login_cadastro{
    background-color: #D5941D;
    padding: 7px;
    border-radius: 30px;
    color: white;
}

.login_cadastro a{
    text-decoration: none;
    color: white;
}


.login_cadastro a:hover{
    padding: 6px;
    transition: all 0.5s;
    border-radius: 12px;
    background-color: #D5941D;
}

.navbar{
   
}


